<div class="container sub p-9">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="well">
        <h2>Выпускная квалификационная работа</h2>
        <p>Проект представляет из себя e-commerce приложение</p>
      </div>
      <div class="flex w-[620px] gap-x-24">
        <p>
          В качестве стека было выбрано сочетание Angular и Spring. Angular -
          это открытая и свободная платформа для разработки веб-приложений,
          написанная на языке TypeScript, разрабатываемая командой из компании
          Google. Spring Framework — универсальный фреймворк с открытым исходным
          кодом для Java-платформы.
        </p>
        <p>
          <span class="flex"
            ><b>Юридический адрес</b>: 23239 Ульяновская область
            Старокулаткинский район село Мосеевка улица Садовая д.12</span
          >

          <span class="flex"
            ><b>Фактический адрес</b>: 23239 Ульяновская область
            Старокулаткинский район село Мосеевка улица Садовая д.12</span
          >
        </p>
      </div>
    </div>
  </div>
</div>
