
<div class="container py-24">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="table-responsive">
          <table class="table no-wrap user-table mb-0 py-4">
            <thead>
              <tr>
                <th
                  scope="col"
                  class="border-0 text-uppercase font-medium pl-4"
                >
                  №
                </th>
                <th scope="col" class="border-0 text-uppercase font-medium">
                  Дата заказа
                </th>
                <th scope="col" class="border-0 text-uppercase font-medium">
                  Товары
                </th>
                <th scope="col" class="border-0 text-uppercase font-medium">
                  Статус доставки
                </th>
                <th scope="col" class="border-0 text-uppercase font-medium">
                  Дата доставки
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="pl-4">1</td>
                <td>
                  <span class="text-muted">2 Мая</span>
                </td>
                <td>
                  <span class="text-muted"
                    >1 х 15,6" Ноутбук Acer Aspire 3 A315-56, Intel Core
                    i3-100...</span
                  ><br />
                </td>
                <td>
                  <span class="text-muted">Передано в доставку</span><br />
                  <span class="text-muted"></span>
                </td>
                <td><span class="text-muted">-</span><br /></td>
                <!-- <td><span class="text-muted">15 Марта</span><br /></td> -->

                <td>
                  <button
                    type="button"
                    class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td class="pl-4">2</td>
                <td>
                  <span class="text-muted">5 Марта</span>
                </td>
                <td>
                  <span class="text-muted"
                    >1 х 13.3" Ноутбук Apple MacBook Air 13 (2020), Apple M1...</span
                  ><br />
                  <span class="text-muted"
                    >2 х 27" Монитор Xiaomi 27" Desktop Monitor, черный</span
                  ><br />
                  <span class="text-muted"
                    >1 х Принтер Epson 3251</span
                  ><br />
                </td>
                <td>
                  <span class="text-muted">Доставлено</span><br />
                  <span class="text-muted"></span>
                </td>
                <td><span class="text-muted">15 Марта</span><br /></td>

                <td>
                  <button
                    type="button"
                    class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
